<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Flask</h1>
    <p>This is the home page of our Flask application.</p>
    <div>
        <a href="/about">About Us</a>
    </div>

    <div>
        <a href="/contact">Contact</a>
    </div>

    <div>
        <ul>
            <li>Element 1</li>
            <li>Element 2</li>
            <li>Element 3</li>
            <li>Element 4</li>
        </ul>
    </div>

    <div>
        <a href="https://ya.ru/images/search?from=tabbar&img_url=http%3A%2F%2Fi.pinimg.com%2F736x%2F6e%2F73%2F4b%2F6e734bde7863653bd9ccf408466ddf6f.jpg&lr=4&p=1&pos=9&rpt=simage&text=картинки">Click here</a>
    </div>



</body>
</html>